<h3>Список пользователей</h3>

	<% @users.each do |user| %>

  
        <%= link_to user.nickname, user %>
    
               
		
<hr>
      
<% end %>

</div>
<%= link_to 'New User', new_user_path %>
</div>